// reset and fonts
@import 'util/resets';
@import 'util/fonts';
@import 'util/dimensions';
@import 'util/tools';
@import 'util/colors';

// component styles
@import 'components/pick/cpt-code';
@import 'components/pick/office';
@import 'components/pick/select-clinician';
@import 'components/common/menu';

// route styles
@import 'routes/application';
@import 'routes/error';
@import 'routes/error-404';
@import 'routes/loading';
@import 'routes/pick-clinician';
@import 'routes/pick-office';
@import 'routes/pick-service';
@import 'routes/pick-date-time';

@is-using-dark-theme: false;
@title-font: "Le Monde Journal Book", "Times New Roman";
@body-font: Roboto, sans-serif;

html {
    /*
        allows for setting sizes based on base 10 rems.
        1.5rem is the equivalent of 15px but this scales
        with the user's browser font size
        Some people hate this - some people see the utility
         - i like it but..
        its subjective :)
     */
    font-size: 62.5%;
}

/**
    Just setting base container here - for the demo I am assuming
    this is just a standalone route - dunno.
    This is not the best styling but given the time and the
    nature of this I did not think the styling needed to be uber clean
 */
body {
    height: 100vh;
    width: 100vw;
    font-size: @body-size;
    font-family: @body-font;
}

// component mixins
.select-clinician();
.select-cpt-code();
.select-office();

// route container mixing
.pick-clinician();
.pick-office();
.pick-service();
.pick-date-time();

.get-colors();
.get-dimensions();

.setButtonStyle('primary', @-light-button-primary-text, @-light-button-primary-gradient);
.setHeaderStyles(6, @line-height-multiple);

.device-layout(@minWidth, @maxWidth, @use-mobile-layout, @bgColor) {
    body {
        background: #eae6e0;
    }
    .outer-container-layout(@use-mobile-layout);
    .menu-layout(@use-mobile-layout);
    .error-404(@use-mobile-layout);
}


@media only screen and (min-width: 1824px) {
    .device-layout(1824px, 100%, false, red);
}

@media only screen and (min-width: 1024px) and (max-width: 1824px) {
    .device-layout(1224px, 100%, false, blue);
}

@media only screen and (min-width: 736px) and (max-width: 1024px) {
    .device-layout(768px, 1024px, false, green);
}

@media only screen and (min-width: 640px) and (max-width: 736px) {
    .device-layout(414px, 100%, true, yellow);
}

@media only screen and (min-width: 568px) and (max-width: 640px) {
    .device-layout(360px, 100%, true, coral);
}

@media only screen and (min-width: 480px) and (max-width: 568px) {
    .device-layout(320px, 100%, true, purple);
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .device-layout(320px, 480px, true, grey);
}

@media only screen and (max-width: 320px) {
    .device-layout(100%, 320px, true, teal);
}


