<div class="menu-states">
    <ol>
        {{#each states as |state|}}
            <li class="state">
                <h3 class="title">{{state.title}}</h3>
                <h4 class="details">{{state.details}}</h4>
            </li>
        {{/each}}
    </ol>
</div>