<div class="menu-list">
    <ol>
        {{#each states as |state|}}
            <li class="state {{if state.isActive 'active'}}">
                <h4 class="title">{{state.title}}</h4>
                <h5 class="details">{{state.details}}</h5>
            </li>
        {{/each}}
    </ol>
</div>