<div class="select-clinician-container">
    <h1>Select Clinician</h1>
    <form class="form-area">
        <div class="input-container">
            <fieldSet class="field-set clinician-input-container">
                <label for="choose-clinician">Clinician ID:</label>
                <Input id="choose-clinician" @value={{this.session.clinicianId}} />
            </fieldSet>
            <fieldSe class="field-set host-input-container">
                <label for="choose-host">Host Url:</label>
                <Input id="choose-host" @value={{this.session.currentHost}} />
            </fieldSe>
        </div>
        <div class="controls">
            <button class="btn btn-primary btn-select-service" {{action 'onSelectClinician' @office.id}}>Schedule Appointment</button>
        </div>
    </form>
</div>