<div class="select-clinician-container">
    <h1>Select Clinician</h1>
    <form class="form-area">
        <div class="input-container">
            <fieldSet class="field-set clinician-input-container">
                <label for="choose-clinician">Clinician ID:</label>
                <div class="input-wrapper">
                    <Input id="choose-clinician" autofocus @value={{this.session.clinicianId}} />
                </div>
            </fieldSet>
            <fieldSe class="field-set host-input-container">
                <label for="choose-host">Host Url:</label>
                <div class="input-wrapper">
                    <Input id="choose-host" @value={{this.session.currentHost}} />
                </div>
            </fieldSe>
        </div>
        <div class="controls">
            <button type="button" class="btn btn-primary btn-select-service"
                {{on 'click' (fn this.onSelectClinician @office.id)}}>Schedule Appointment</button>
        </div>
    </form>
</div>