<div class="cpt-code-container">
    <div class="service-container">
        <h3 class="description">{{@code.description}}</h3>
        <div class="details">
            <dl>
                <dt>Duration:</dt>
                <dd class="duration">{{duration}}</dd>
            </dl>
            <dl>
                <dt>Cost:</dt>
                <dd class="cost">{{cost}}</dd>
            </dl>
        </div>
    </div>
    <div class="controls">
        <button class="btn btn-primary btn-select-service 1" {{action 'onSelectCode' @code.id}}>Select</button>
    </div>
</div>

