<div class="error-container">
    <div class="error-icon-container">
        <i class="fa-regular fa-triangle-exclamation"></i>
    </div>
    <div class="error-message-container">
        <div class="error-details">
            <h1 class="error-title">404</h1>
            <h4 class="error-details">
                We are not sure what you are looking for
            </h4>
        </div>
        <div class="control-container">
            <LinkTo @route="pick-clinician" >
                <button class="btn btn-primary btn-recovery">
                    Restart?
                </button>
            </LinkTo>
        </div>
    </div>
</div>