<div class="error-container">
    <div class="error-icon-container">
        <i></i>
    </div>
    <div class="error-title">Error</div>
    <div class="error-details">
        An error occured.  We have been notified and will take steps to address it.
    </div>
    <div class="control-container">
        <LinkTo @route="pick-clinician" >
            <button class="btn btn-primary btn-recovery">
                Restart?
            </button>
        </LinkTo>
    </div>
</div>