<div class="date-time-container">
    <div class="wrap-up">
        <h1>I need an API</h1>
        <h3>I guess I can show my work so far though</h3>
        <dl>
            <dt>ClinicianId: </dt>
            <dd>{{session.clinicianId}}</dd>
            <dt>Host:</dt>
            <dd>{{session.currentHost}}</dd>
            <dt>Service Code:</dt>
            <dd>{{session.cptCode}}</dd>
            <dt>Office ID</dt>
            <dd>{{session.officeId}}</dd>
        </dl>
        <h4>What to improve?</h4>
        <p>LOTS. I did not have a ton of time this week but if I had more time - here is a partial list of the
        things I would do to finish this out. I mean - I guess there is still time in the week so I could do all
        the rest of the things - but I don't know where the bar is for you guys.  Hopefully you don't judge too
        harshly</p>
        <p>Incidentally - I was going to grab more style stuff from your site but I figured the scope of the
        assignment was a little more along the lines of "make something bespoke" </p>
        <ul>
            <li>Localize the strings</li>
            <li>improve the styling</li>
            <li>Add more tests</li>
            <li>clean up the CSS</li>
            <li>Implement dark mode</li>
            <li> MORE TESTS</li>
            <li>Clean up some of the jenky component and route names</li>
            <li>Style this page :)</li>
        </ul>

        <h4>Thanks for taking the time to review this</h4>
    </div>
</div>